/*Global Variables*/
*{
    /*outline: 2px solid red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
:root{
    /*Pendiente de Definir Variables Color*/
    --faded-denim: #6E8EAC;
}

/*Navigation*/
.nav{
    display: flex;
    justify-content: space-between;
    /*border-bottom:1px solid rgba(3, 3, 3, 0.5);*/
    height: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 4px;
}
.icon-container{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.icon{
    height: 40px;
    width: 40px;
}
.nav-list{
    list-style: none;
    margin-right: 20%;
    display: flex;
    align-items: center;
}
.nav-items{
    display:inline;
    font-size: 20px;
    padding: 10px;
    color: #3D3D3D;
}
.nav-items:hover{
    color: green;
}
.callto{
    color: rgb(9, 167, 9);
    font-weight: bold;
}

/* First Section*/
.working{
    height: 350px;
    padding-top: 15px;
}
.par,
.impar {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 24px;
}
.par{
    background-color: cornflowerblue;
}
.impar{
    background-color: cornsilk;
}
.caja{
    max-width: 400px;
    padding: 20px;
}

/* Review*/
.reviewblock{
    display: flex;
    justify-content: center;
    margin: 0em 10em 1em 10em;
    gap: 3em;
}
.reviewname{
    font-family: sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    text-align: center;
    padding: 1em 1em 0em 1em;
}
.reviewdate{
    font-family: sans-serif;
    font-size: 1.125em;
    font-style: italic;
    text-align: center;
    padding: 0.75em;
}
.reviewcontent{
    border-top: 1px solid #2b3e4d;
    border-bottom: 1px solid #2b3e4d;
    font-family: sans-serif;
    padding: 1em;
    font-size: 1.125em;
    min-height: 110px;
    line-height: 25px;
}
.reviewstars{
    padding: 1em 0em 0em 0em;
    text-align: center;

}
.disclaimer{
    text-align: center;
    padding-bottom: 5px;
}
.reviewimage{
    height: 50px;
    display: block;
    margin:auto;
    padding-bottom: 10px;
}
/*Color Testing*/
.footerblock{
    height: 100px;
    background-color: burlywood;
}
/*Color Testing*/

.cajacolores{
    padding: 30px;
}
.textsize{
    font-size: 30px;
    text-align: center;
}
.fonttitle{
    font-size: 24px;
    font-weight: 600;
}
.colorbar{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
}
.color1{
    background-color: #6E8EAC;
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.colorfont1{
    color: #6E8EAC;
}
.colorfont2{
    color: #000000;
    font: bold;
    background-color: #6E8EAC;
    border-radius: 5%;
}
.color2{
    background-color: #000000;
    height: 100px;
    width: 100px;
    border-radius: 5%;
    color: white;
}

.color3{
    background-color: #E9B24C;
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.colorfont3{
    color: #E9B24C;

}
.color4{
    background-color:  #03CC90;
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.colorfont4{
    color:  #03CC90;
    background-color: #ddd6d1;
    border-radius: 5%;
}
.color5{
    background-color: #ddd6d1;
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.colorfont5{
    color: #ddd6d1;
}
.color6{
    background-color:  #F0D1CD;
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
.colorfont6{
    color:  #F0D1CD;
}