/*Global Variables*/
*{
    /*outline: 2px solid red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
/*Navigation*/
.nav{
    display: flex;
    justify-content: space-between;
    /*border-bottom:1px solid rgba(3, 3, 3, 0.5);*/
    height: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 4px;
}
.icon-container{
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.icon{
    height: 40px;
    width: 40px;
}
.nav-list{
    list-style: none;
    margin-right: 20%;
    display: flex;
    align-items: center;
}
.nav-items{
    display:inline;
    font-size: 20px;
    padding: 10px;
    color: #3D3D3D;
}
.nav-items:hover{
    color: green;
}
.callto{
    color: rgb(9, 167, 9);
    font-weight: bold;
}