.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 80rem;
}

.title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.imageContainer {
    display: flex;
    justify-content: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.date {
    margin: 0 auto;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
