.header {
    min-width: 60vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.date {
    min-width: 60vw;
    max-width: 1200px;
    font-size: small;
    display: flex;
    justify-content: left;
}


.image {
    max-width: 100vw;
}

.body {
    padding: 20px;
}