.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 80rem;
}

.title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
