.title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 24rem;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.label {
    color: #6b7280;
    font-weight: 300;
    margin-top: 1rem;
}

.labelRequired {
    color: #ef4444;
}

.input {
    background-color: transparent;
    border-bottom: 1px solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    color: #6b7280;
    font-weight: 300;
}

.input:focus {
    outline: none;
    border-radius: 0.375rem;
    ring: 1px solid #10b981;
}

.textarea {
    background-color: transparent;
    border-bottom: 1px solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    color: #6b7280;
    font-weight: 300;
}

.textarea:focus {
    outline: none;
    border-radius: 0.375rem;
    ring: 1px solid #10b981;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.button {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--mango);
    color: #f9fafb;
    font-weight: 700;
    border-radius: 0.375rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
    .label {
        color: #f9fafb;
    }

    .labelRequired {
        color: #f9fafb;
    }
}
