html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* This class is applied to the Layout component: */

.content {
    max-width: 960px;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}

/*------ Fonts & Colors ------*/
:root {
    --raisin-black: #272727;
    --mango: #f7b801;
    --carolina-blue: #00a5e0;
    --dim-gray: #696773;
    --cultured: #eff1f3;
}

/*------ Parsed Styles ------*/
/* These styles are only used for the parsed Markdown for Articles.*/
/* If you use double slash comment "//" the first style wont work. */
.parsed h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding: 10px 0 10px 0;
}

.parsed h3 {
    font-size: 1.25rem;
    line-height: 2.25rem;
    padding: 10px 0 10px 0;
}

.parsed ul {
    padding-left: 20px;
}
.parsed li {
    list-style-type: circle;
}

/* Footer */

footer {
    text-align: center;
    background-color: var(--cultured);
    width: 100%;
    padding: 50px 15px 50px 15px;
}

.subirlink {
    font-size: 30x;
    color: #000000;
    text-decoration: underline;
}

.imgblock {
    padding: 30px 0 30px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
}
