html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* This class is applied to the Layout component: */

.content {
  max-width: 960px;
  margin: 0 auto;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/*------ Fonts & Colors ------*/
:root {
  --raisin-black: #272727;
  --mango: #F7B801;
  --carolina-blue: #00A5E0;
  --dim-gray: #696773;
  --cultured: #EFF1F3;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--backgroundColor1);
  padding: 10px 0 10px 30px;
  border-bottom: 2px solid grey;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--textFont);
}

li a {
  padding: 10px;
  color: var(--darkColor);
  text-decoration: none;
  font-size: 1.5rem;
}

li a:hover {
  text-decoration: underline;
  color: var(--highlight);
  /* Tried to add an after instead of the hover */
  /*     content: "";
    width: 30%;
    height: 2px;
    background: var(--highlight);
    position: absolute;
    bottom: -4px;
    left: 20px; */
}

li {
  list-style: none;
  font-size: 25px;
  padding: 8px 5px 0px 10px;

}

li.welcome {
  font-weight: bolder;
}

.icon {
  height: 100px;
  width: 100px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    /* positions the icon to the right and center aligns it vertically */
  /* position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);*/
  display: none;
}

@media screen and (max-width: 768px) {
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }

  ul {
    display: flex;
    position: absolute;
    top: 122px;
    left: -35px;
    flex-direction: column;
    margin: 0px;
  }

  .hide {
    display: none;
  }

  .display {
    display: block;
  }

  li {
    width: 90vw;
    display: flex;
    /*  margin: 1px solid gray; */
  }
}

/* Footer */


footer {
  text-align: center;
  background-color: var(--faded-denim);
  width: 100%;
  padding: 50px 15px 50px 15px;
}

.subirlink {
  font-size: 30x;
  color: #000000;
  text-decoration: underline;
}

.imgblock {
  padding: 30px 0 30px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}


/* Contact Form */

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

label {
  display: block;
  margin: 1rem 0;
}

input,
textarea {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  border: none;
  max-width: 100%;

}

input {
  height: 2.5em;
}

textarea {
  height: 5em;
}

.submit-button {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: var(--faded-denim);
  border: none;
  font-weight: bold;
  color: white;
  min-width: 300px;
  text-align: center;
}

.contactblock {
  background-color: #ddd6d1;
  margin-top: 30px;
  padding-top: 30px;
}