/* .aboutme {
    display: flex;
    flex-wrap: wrap;
}

.article {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article :first-child {
    border-bottom: 3px solid grey;


}

.image {
    max-width: 80vw;
}

.article :nth-child(2) {
    display: flex;
    flex-wrap: wrap;

    box-shadow: 1px 2px 3px grey;
} */
