.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--cultured);
    padding: 10px 100px 10px 100px;
}

.logotitle {
    display: flex;
    align-items: center;
    gap: 30px;
}

.ul {
    display: flex;
}

.li a:hover {
    border-bottom: 3px solid var(--mango);
}

.li {
    list-style: none;
    font-size: 25px;
    padding: 8px 5px 0px 10px;
}

.activelink {
    border-bottom: 3px solid;
}

.icon {
    height: 50px;
    width: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 10px 20px 10px 20px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
    }

    .ul {
        display: flex;
        position: absolute;
        top: 64px;
        left: 0px;
        flex-direction: column;
        margin: 0px;
        width: 100vw;
        background-color: white;
    }

    .hide {
        display: none;
    }

    .display {
        z-index: 1;
        display: block;
    }

    .menuDisplay {
        z-index: 1;
        display: block;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 2vh 0vh 2vh 0vh;
    }

    .li {
        display: flex;
        padding-bottom: 3px;
    }
}
