/* Navbar */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cultured);
    padding: 10px 20px 10px 20px;
}

.ul {
    display: flex;

}

/* .li a {
    padding-right: 10px;
    padding-bottom: 10px;
    color: var(--darkColor);
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.li a:hover {
    text-decoration: underline;
    color: var(--highlight);
    /* Tried to add an after instead of the hover */
    /*     content: "";
    width: 30%;
    height: 2px;
    background: var(--highlight);
    position: absolute;
    bottom: -4px;
    left: 20px; */
}

.li {
    list-style: none;
    font-size: 25px;
    padding: 8px 5px 0px 10px;
}


.icon {
    height: 50px;
    width: 50px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    /* positions the icon to the right and center aligns it vertically */
    /* position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);*/
    display: none;
}

@media screen and (max-width: 768px) {
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
    }

    .ul {
        display: flex;
        position: absolute;
        top: 80px;
        left: -35px;
        flex-direction: column;
        margin: 0px;
    }

    .hide {
        display: none;
    }

    .display {
        display: block;
        background-color: red;
        outline: 2px solid red;
    }

    .li {
        width: 90vw;
        display: flex;
        background-color: white;
        border-radius: 1px solid white;
    }
}